Pressure value imputer using KNN

In [1]:
!pip install impyute
!pip install xlwt
!pip install openpyxl

Collecting impyute
  Downloading https://files.pythonhosted.org/packages/37/28/86829f67c9affb847facaab94687761d3555539ec675f7577778c5b2680a/impyute-0.0.8-py2.py3-none-any.whl
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from impyute) (0.22.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from impyute) (1.17.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from impyute) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->impyute) (0.14.1)
Installing collected packages: impyute
Successfully installed impyute-0.0.8
Requirement already satisfied: xlwt in /usr/local/lib/python3.6/dist-packages (1.3.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.6/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.4.1)

##1. Importing required Dependencies



*   Pandas - Dataframe Handler
*   Numpy - Large Array computation
*   Fancyimpute - Imputation algorithm
*   Sklearn - Machine Learning Functions
* Matplotlib - Visualising Library
* Seaborn - Highly visualizing library

In [ ]:
import pandas as pd
import numpy as np
import impyute as impy
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score 

import matplotlib.pyplot as plt
import seaborn as sns

Mounting Google Drive

In [29]:
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir('/content/drive/My Drive/piv-project')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Preparing Data from the Google Drive

**Dropping the X and Y Co-ordinates and labels**

In [ ]:

data = pd.read_excel('/content/drive/My Drive/piv-project/pressure-data.xlsx',
                     header=None, sheet_name='Side')
data = data.drop(labels=0, axis='columns')
data = data.drop(labels=[0,1,2],  axis='rows')

Dataframe View with first 5 rows of the dataframe

In [ ]:
data.to_csv('pressure-actual-back-values.csv')

Introducing NaN values in sensor value data (data columns)

In [ ]:
nan_data = data.copy() # Creating a deep copy of dataframe

In [ ]:
# Making the below list of columns name [7,24,18,29,42,47,3] as NaN values
for i in [7,24,18,29,42,47,3]:
  nan_data [i] = pd.DataFrame([np.NaN for _ in range(data[i].size)])

In [50]:
nan_data.head() # Viewing the dataframe after NaN value introduction

        1        2   3        4   ...  47       48       49       50
3 -0.73543 -0.71443 NaN -0.43799  ... NaN -0.79543 -0.79823 -0.81202
4 -0.73448 -0.68413 NaN -0.39831  ... NaN -0.77490 -0.76340 -0.74568
5 -0.81078 -0.65934 NaN -0.44945  ... NaN -0.81391 -0.74847 -0.77736
6 -0.86447 -0.68780 NaN -0.38156  ... NaN -0.79851 -0.71563 -0.72489
7 -0.88614 -0.87602 NaN -0.37627  ... NaN -0.75539 -0.69971 -0.73479

[5 rows x 50 columns]

##2. Defining functions for Data Imputation and Error Function

In [ ]:
n = 1000 # Number of time series to be predicted 

k = 3 # K Number of neighbours

In [ ]:
def knn_impute(data_frame):
  imputed_ls = list() # for storing imputed time series record
  for i in range(n): # 100 specifies the number of time series value 
    # Selecting the row i
    row_val = data_frame.iloc[i,:] 
    #Reshaping the sensor data into a array of 10x5
    row_np = row_val.values.reshape(10,5)
    #Imputing the missing values using fast_KNN imputer
    row_imputed = impy.fast_knn(row_np,k=k)
    #Reshaping again to 1x50 , to make it just like the original dataset
    row_imputed = row_imputed.reshape(1,50)
    #Appending into the list imputed_ls
    imputed_ls.append(row_imputed.tolist())
    
  #converting List to pandas dataframe
  imputed_df = pd.DataFrame(imputed_ls[i][0] for i in range(n))
  
  return imputed_df.copy()

In [ ]:
def err_cal(acc_df, imp_df):
  mse_ls = list()
  r_sqr = list()
  for i in range(n):
    acc_val = list( acc_df.iloc[i,:]) # iloc, returns the values at the specific list of columns
    imp_val = list(imp_df.iloc[i, :])
    mse_val = mse(acc_val, imp_val)  # calculates the mse value of the entire missing value at a time 
    r2_val = r2_score(acc_val, imp_val)
    mse_ls.append(mse_val)
    r_sqr.append(r2_val)
    #appending mse_value to the mse_list 
  #List to Dataframe 
  mse_col = pd.Series(mse_ls,name='mse')
  r2_col = pd.Series(r_sqr, name='r2_error')
  mse_df = pd.concat([pd.Series(range(n),name='time'),mse_col,r2_col],axis=1)
  return mse_df

Imputing the dataframe

In [54]:
imp_df = knn_impute(nan_data.copy())

imp_df.head()

        0        1         2        3   ...        46       47       48       49
0 -0.73543 -0.71443 -0.753096 -0.43799  ... -0.686030 -0.79543 -0.79823 -0.81202
1 -0.73448 -0.68413 -0.833220 -0.39831  ... -0.666838 -0.77490 -0.76340 -0.74568
2 -0.81078 -0.65934 -0.915767 -0.44945  ... -0.692451 -0.81391 -0.74847 -0.77736
3 -0.86447 -0.68780 -0.799350 -0.38156  ... -0.752098 -0.79851 -0.71563 -0.72489
4 -0.88614 -0.87602 -0.906754 -0.37627  ... -0.765008 -0.75539 -0.69971 -0.73479

[5 rows x 50 columns]

Error value calculation

In [55]:
err_df = err_cal(data.copy(), imp_df.copy())
err_df
avg_mse = err_df['mse'].values.mean()
avg_r2 = err_df['r2_error'].values.mean()
with open('knn_result_analysis_front_04022020.txt','a') as fi_le:
  fi_le.write('No. of Sample Time Series : {} \n K- Value : {} \n Average MSE : {} \n Average RSE : {} \n -----------------------------------'.format(n,k,avg_mse,avg_r2))
print("Number of Sample Time series :",n)
print("KNN , K-Value :",k)
print("Average MSE :",avg_mse)
print("Average R2", avg_r2)

Number of Sample Time series : 1000
KNN , K-Value : 3
Average MSE : 0.005485204953502853
Average R2 0.8976097281273906

##Saving the result to csv and excel

In [ ]:
pd_save = pd.concat([imp_df,err_df],axis=1)

In [57]:
pd_save.head()

         0        1         2        3  ...       49  time       mse  r2_error
0 -0.73543 -0.71443 -0.753096 -0.43799  ... -0.81202     0  0.000640  0.985628
1 -0.73448 -0.68413 -0.833220 -0.39831  ... -0.74568     1  0.000745  0.980124
2 -0.81078 -0.65934 -0.915767 -0.44945  ... -0.77736     2  0.001207  0.971643
3 -0.86447 -0.68780 -0.799350 -0.38156  ... -0.72489     3  0.000908  0.978394
4 -0.88614 -0.87602 -0.906754 -0.37627  ... -0.73479     4  0.002207  0.953449

[5 rows x 53 columns]

In [ ]:
def mean_pressure_coef(act_df, impt_df):
  mean_act = list()
  mean_imp = list()
  for i in range(n):
      row_act = act_df.iloc[i,:]
      row_act_mean = row_act.values.mean()
      row_imp = impt_df.iloc[i,:]
      row_imp_mean = row_imp.values.mean()
      mean_act.append(row_act_mean)
      mean_imp.append(row_imp_mean)
  mean_act_ser = pd.Series(mean_act, name='actual-mean')
  mean_imp_ser = pd.Series(mean_imp, name='imputed-mean')
  mse_df = pd.concat([pd.Series(range(n),name='time'),mean_act_ser, mean_imp_ser],axis=1)
  mse_df.to_csv('knn3_Side_mean_Cp.csv', index=False)

In [ ]:
mean_pressure_coef(data.copy(), imp_df.copy() )

Saving the predicted output into a xlsx and Mean Squared error

In [ ]:
import time

ts = time.gmtime()

cur_datetime = time.strftime("%m-%d-%H:%M:%S", ts)

In [ ]:

pd_save.to_excel('knn_'+str(k)+'front_result.xlsx',index=False,sheet_name='k_value_'+str(k)) # results from KNN identtiying

In [28]:
!pwd

/content/drive/My Drive/piv-project/knn_front